In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
TBIURL = "https://gee.bccr.fi.cr/indicadoreseconomicos/cuadros/frmvercatcuadro.aspx?idioma=1&codcuadro=%2017"

In [3]:
def webScrapper(url,selector):
    res = requests.get(url)
    html = BeautifulSoup(res.text)
    table =  html.select(selector)
    return table

In [4]:
table = webScrapper(TBIURL,"td.celda17>p")

In [5]:

def separadorColumnasYDatos(table):
    columns = []
    data = []
    for elem in table:
        try:
            if int(elem.get_text()) > 2000:
                columns.append(elem.get_text())
        except:
            data.append(elem.get_text().replace(",","."))
    return columns, data

In [6]:
columns, data = separadorColumnasYDatos(table)

In [7]:
def separadorData(datos):
    data = []
    index = []
    for elem in datos:
        try:
            if float(elem) > 0:
                data.append(elem)
        except:
            if elem != '':
                index.append(elem)
    return index, data

In [8]:
index, data = separadorData(data)

In [12]:
data.pop(59*12)

'4.80'

In [13]:
len(data[4018:])

128

In [14]:
def creacionMatriz(data):
    matrix =  []
    index = 11
    while index < len(data):
        if len(matrix) >= len(data[4018:])+3:
            break
        matrix.append(data[index])
        index += 12
    return matrix

In [15]:
matrix = creacionMatriz(data)
len(matrix)

131

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame()

In [18]:
df[columns[-1]] = matrix
df

     2022
0    2.90
1    2.90
2    2.90
3    2.90
4    2.90
..    ...
126  2.90
127  2.90
128  2.90
129  2.90
130  2.90

[131 rows x 1 columns]

In [19]:
index = index[:len(matrix)+1]
index.pop(59)

'\xa029 Feb  '

In [20]:
df["Fecha"] = index

In [21]:
df = df.set_index("Fecha")

In [22]:
df

           2022
Fecha
 1 Ene     2.90
 2 Ene     2.90
 3 Ene     2.90
 4 Ene     2.90
 5 Ene     2.90
...         ...
 7 May     2.90
 8 May     2.90
 9 May     2.90
 10 May    2.90
 11 May    2.90

[131 rows x 1 columns]

In [119]:
URL = "https://gee.bccr.fi.cr/indicadoreseconomicos/Cuadros/frmVerCatCuadro.aspx?idioma=1&CodCuadro=%203141"

In [120]:
table = webScrapper(URL,"P")

In [121]:
columns, data = separadorColumnasYDatos(table)

In [122]:
index, data = separadorData(data)

In [123]:
# Encontramos el indice del 29 de febrero del 2020 
counter = 5
while counter < len(data):
    if data[counter] == "1.75":
        print(counter)
        break
    counter += 6

359

In [124]:
data.pop(359-5)

'2.45'

In [125]:
import datetime

hoy = datetime.datetime.now()

numero_dia = (hoy - datetime.datetime(hoy.year, 1, 1)).days + 1
numero_dia

128

In [143]:
def creadornMatrizURL(data):
    matrix =  []
    index = len(columns)-2
    hoy = datetime.datetime.now()
    numero_dia = (hoy - datetime.datetime(hoy.year, 1, 1)).days + 1
    while index < len(data):
        if len(matrix) >= numero_dia:
            break
        if index >= 6*123:
            matrix.append(data[index])
            index += len(columns)
        else:
            matrix.append(data[index])
            index += len(columns)-1
    return matrix[-1]

In [144]:
matrix = creadornMatrizURL(data)

In [145]:
matrix

'1.44'

In [129]:
index.pop(60)
index = index[1:len(matrix)+1]

In [130]:
df = pd.DataFrame(matrix,index)

In [132]:
df

             0
 1 Ene    1.40
 2 Ene    1.40
 3 Ene    1.40
 4 Ene    1.40
 5 Ene    1.40
...        ...
 4 May    1.40
 5 May    1.44
 6 May    1.44
 7 May    1.44
 8 May    1.44

[128 rows x 1 columns]