In [1]:
import requests
from bs4 import BeautifulSoup

In [7]:
TBIURL = "https://gee.bccr.fi.cr/indicadoreseconomicos/cuadros/frmvercatcuadro.aspx?idioma=1&codcuadro=%2017"

In [9]:
def webScrapper(url,selector):
    res = requests.get(url)
    html = BeautifulSoup(res.text)
    table =  html.select(selector)
    return table

In [13]:
table = webScrapper(TBIURL,"td.celda17>p")

In [16]:

def separadorColumnasYDatos(table):
    columns = []
    data = []
    for elem in table:
        try:
            if int(elem.get_text()) > 2000:
                columns.append(elem.get_text())
        except:
            data.append(elem.get_text().replace(",","."))
    return columns, data

In [17]:
columns, data = separadorColumnasYDatos(table)

In [18]:
def separadorData(datos):
    data = []
    index = []
    for elem in datos:
        try:
            if float(elem) > 0:
                data.append(elem)
        except:
            if elem != '':
                index.append(elem)
    return index, data

In [19]:
index, data = separadorData(data)

In [22]:
data.pop(59*12)

'4.80'

In [24]:
def creacionMatriz(data):
    matrix =  []
    index = 11
    while index < len(data):
        if len(matrix) >= len(data[4018:])+3:
            break
        matrix.append(data[index])
        index += 12
    return matrix

In [25]:
matrix = creacionMatriz(data)

In [27]:
import pandas as pd

In [30]:
df = pd.DataFrame()

In [32]:
df[columns[-1]] = matrix

In [33]:
index = index[:len(matrix)+1]
index.pop(59)

'\xa029 Feb  '

In [35]:
df["Fecha"] = index

     2022      Fecha
0    2.90    1 Ene
1    2.90    2 Ene
2    2.90    3 Ene
3    2.90    4 Ene
4    2.90    5 Ene
..    ...        ...
98   2.85    9 Abr
99   2.85   10 Abr
100  2.85   11 Abr
101  2.85   12 Abr
102  2.85   13 Abr

[103 rows x 2 columns]

In [36]:
df = df.set_index("Fecha")

In [37]:
df

           2022
Fecha
 1 Ene     2.90
 2 Ene     2.90
 3 Ene     2.90
 4 Ene     2.90
 5 Ene     2.90
...         ...
 9 Abr     2.85
 10 Abr    2.85
 11 Abr    2.85
 12 Abr    2.85
 13 Abr    2.85

[103 rows x 1 columns]