In [1]:
import requests
from bs4 import BeautifulSoup

In [303]:
TBIURL = "https://gee.bccr.fi.cr/indicadoreseconomicos/cuadros/frmvercatcuadro.aspx?idioma=1&codcuadro=%2017"

In [304]:
def webScrapper(url,selector):
    res = requests.get(url)
    html = BeautifulSoup(res.text)
    table =  html.select(selector)
    return table

In [306]:
table = webScrapper(TBIURL,"td.celda17>p")

In [329]:

def separadorColumnasYDatos(table):
    columns = []
    data = []
    for elem in table:
        try:
            if int(elem.get_text()) > 2000:
                columns.append(elem.get_text())
        except:
            data.append(elem.get_text().replace(",","."))
    return columns, data

In [332]:
columns, data = separadorColumnasYDatos(table)

In [335]:
def separadorData(datos):
    data = []
    index = []
    for elem in datos:
        try:
            if float(elem) > 0:
                data.append(elem)
        except:
            if elem != '':
                index.append(elem)
    return index, data

In [337]:
index, data = separadorData(data)

In [340]:
data.pop(59*12)

'4.80'

In [341]:
def creacionMatriz(data):
    matrix =  []
    index = 11
    while index < len(data):
        if len(matrix) >= len(data[4018:])+3:
            break
        matrix.append(data[index])
        index += 12
    return matrix

In [343]:
matrix = creacionMatriz(data)

In [344]:
import pandas as pd

In [345]:
df = pd.DataFrame()

In [346]:
df[columns[-1]] = matrix

In [347]:
index = index1[:len(matrix)+1]
index.pop(59)

'\xa029 Feb  '

In [348]:
df["Fecha"] = index

In [349]:
df = df.set_index("Fecha")

In [350]:
df

           2022
Fecha
 1 Ene     2.90
 2 Ene     2.90
 3 Ene     2.90
 4 Ene     2.90
 5 Ene     2.90
...         ...
 9 Abr     2.85
 10 Abr    2.85
 11 Abr    2.85
 12 Abr    2.85
 13 Abr    2.85

[103 rows x 1 columns]