In [1]:
import requests
from bs4 import BeautifulSoup

In [25]:
TBIURL = "https://gee.bccr.fi.cr/indicadoreseconomicos/cuadros/frmvercatcuadro.aspx?idioma=1&codcuadro=%2017"

In [26]:
def webScrapper(url,selector):
    res = requests.get(url)
    html = BeautifulSoup(res.text)
    table =  html.select(selector)
    return table

In [27]:
table = webScrapper(TBIURL,"td.celda17>p")

In [5]:

def separadorColumnasYDatos(table):
    columns = []
    data = []
    for elem in table:
        try:
            if int(elem.get_text()) > 2000:
                columns.append(elem.get_text())
        except:
            data.append(elem.get_text().replace(",","."))
    return columns, data

In [6]:
columns, data = separadorColumnasYDatos(table)

In [7]:
def separadorData(datos):
    data = []
    index = []
    for elem in datos:
        try:
            if float(elem) > 0:
                data.append(elem)
        except:
            if elem != '':
                index.append(elem)
    return index, data

In [8]:
index, data = separadorData(data)

In [11]:
data.pop(59*12)

'4.80'

In [12]:
len(data[4018:])

114

In [13]:
def creacionMatriz(data):
    matrix =  []
    index = 11
    while index < len(data):
        if len(matrix) >= len(data[4018:])+3:
            break
        matrix.append(data[index])
        index += 12
    return matrix

In [14]:
matrix = creacionMatriz(data)
len(matrix)

117

In [15]:
import pandas as pd

In [16]:
df = pd.DataFrame()

In [17]:
df[columns[-1]] = matrix
df

     2022
0    2.90
1    2.90
2    2.90
3    2.90
4    2.90
..    ...
112  2.80
113  2.80
114  2.80
115  2.80
116  2.80

[117 rows x 1 columns]

In [18]:
index = index[:len(matrix)+1]
index.pop(59)

'\xa029 Feb  '

In [19]:
df["Fecha"] = index

In [20]:
df = df.set_index("Fecha")

In [21]:
df

           2022
Fecha
 1 Ene     2.90
 2 Ene     2.90
 3 Ene     2.90
 4 Ene     2.90
 5 Ene     2.90
...         ...
 23 Abr    2.80
 24 Abr    2.80
 25 Abr    2.80
 26 Abr    2.80
 27 Abr    2.80

[117 rows x 1 columns]

In [28]:
URL = "https://gee.bccr.fi.cr/indicadoreseconomicos/Cuadros/frmVerCatCuadro.aspx?idioma=1&CodCuadro=%203141"

In [29]:
table = webScrapper(URL,"P")

In [30]:
columns, data = separadorColumnasYDatos(table)

In [31]:
index, data = separadorData(data)

In [32]:
# Encontramos el indice del 29 de febrero del 2020 
counter = 5
while counter < len(data):
    if data[counter] == "1.75":
        print(counter)
        break
    counter += 6

359

In [33]:
data.pop(359-5)

'2.45'

In [34]:
len(data)

2183

In [35]:
def creadornMatrizURL(data):
    matrix =  []
    index = len(columns)-2
    while index < len(data):
        if len(matrix) >= len(data[1825:])+1-126:
            break
        matrix.append(data[index])
        index += len(columns)-1
    return matrix

In [36]:
matrix = creadornMatrizURL(data)

In [37]:
matrix

['1.40',
 '1.40',
 '1.40',
 '1.40',
 '1.40',
 '1.24',
 '1.24',
 '1.24',
 '1.24',
 '1.24',
 '1.24',
 '1.24',
 '1.37',
 '1.37',
 '1.37',
 '1.37',
 '1.37',
 '1.37',
 '1.37',
 '1.35',
 '1.35',
 '1.35',
 '1.35',
 '1.35',
 '1.35',
 '1.35',
 '1.50',
 '1.50',
 '1.50',
 '1.50',
 '1.50',
 '1.50',
 '1.50',
 '1.38',
 '1.38',
 '1.38',
 '1.38',
 '1.38',
 '1.38',
 '1.38',
 '1.44',
 '1.44',
 '1.44',
 '1.44',
 '1.44',
 '1.44',
 '1.44',
 '1.53',
 '1.53',
 '1.53',
 '1.53',
 '1.53',
 '1.53',
 '1.53',
 '1.57',
 '1.57',
 '1.57',
 '1.57',
 '1.57',
 '1.57',
 '1.57',
 '1.52',
 '1.52',
 '1.52',
 '1.52',
 '1.52',
 '1.52',
 '1.52',
 '1.42',
 '1.42',
 '1.42',
 '1.42',
 '1.42',
 '1.42',
 '1.42',
 '1.41',
 '1.41',
 '1.41',
 '1.41',
 '1.41',
 '1.41',
 '1.41',
 '1.45',
 '1.45',
 '1.45',
 '1.45',
 '1.45',
 '1.45',
 '1.45',
 '1.49',
 '1.49',
 '1.49',
 '1.49',
 '1.49',
 '1.49',
 '1.49',
 '1.33',
 '1.33',
 '1.33',
 '1.33',
 '1.33',
 '1.33',
 '1.33',
 '1.39',
 '1.39',
 '1.39',
 '1.39',
 '1.39',
 '1.39',
 '1.39',
 '1.29',
 '1.29',
 '1.29',
 '1.29',
 '1.29',
 '1.29',
 '1.29',
 '2.27',
 '2.35',
 '2.73',
 '2.08',
 '1.57',
 '1.93',
 '1.93',
 '1.93',
 '1.93',
 '1.93',
 '1.93',
 '1.93',
 '1.90',
 '1.90',
 '1.90',
 '1.90',
 '1.90',
 '1.90',
 '1.90',
 '1.89',
 '1.89',
 '1.89',
 '1.89',
 '1.89',
 '1.89',
 '1.89',
 '1.96',
 '1.96',
 '1.96',
 '1.96',
 '1.96',
 '1.96',
 '1.96',
 '2.06',
 '2.06',
 '2.06',
 '2.06',
 '2.06',
 '2.06',
 '2.06',
 '2.01',
 '2.01',
 '2.01',
 '2.01',
 '2.01',
 '2.01',
 '2.01',
 '1.95',
 '1.95',
 '1.95',
 '1.95',
 '1.95',
 '1.95',
 '1.95',
 '2.05',
 '2.05',
 '2.05',
 '2.05',
 '2.05',
 '2.05',
 '2.05',
 '2.18',
 '2.18',
 '2.18',
 '2.18',
 '2.18',
 '2.18',
 '2.18',
 '2.09',
 '2.09',
 '2.09',
 '2.09',
 '2.09',
 '2.09',
 '2.09',
 '1.97',
 '1.97',
 '1.97',
 '1.97',
 '1.97',
 '1.97',
 '1.97',
 '1.96',
 '1.96',
 '1.96',
 '1.96',
 '1.96',
 '1.96',
 '1.96',
 '2.04',
 '2.04',
 '2.04',
 '2.04',
 '2.04',
 '2.04',
 '2.04',
 '2.21',
 '2.21',
 '2.21',
 '2.21',
 '2.21',
 '2.21',
 '2.21',
 '2.01',
 '2.01',
 '2.01',
 '2.01',
 '2.01',
 '2.01',
 '2.01',
 '1.91',
 '1.91',
 '1.91',
 '1.91',
 '1.91',
 '1.91']